.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffffa7;

  border: 2px solid #888888; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
  padding: 0 0 0 1em;
}

.navbar {
  height: 11vh;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3px;
}

.nav-button {
  height: 100%;
  margin: 0;
  padding: 0 25px;

  border: none;
  background-color: #807f7f; 
  box-sizing: border-box;

  font-size: 30px; 
  color: white; 
}

.last-button {
  border-bottom-right-radius: 15px;
  margin: 0 1px 0 0;
}

.nav-button:hover {
  background-color: #f6ba59; 
}

header form {
  height: 100%;
  margin: 0;
  padding: 0;
}